@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto:wght@100;300;500&display=swap');

html {
  background-image: linear-gradient(-5deg, #111, #666, #111);
  font-family: 'Nanum Gothic Coding', monospace;
  color: #aaa;
}

/* Header.jsx */
header {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}

/* all links */
a {
  margin-right: 30px;
  color: #aaa;
  text-decoration: none;
}

/* Body.jsx */
.display_area {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#pf_pic {
  border: 3px solid #aaa;
  border-radius: 2rem;
  width: 300px;
  padding:2px;
  margin: 20px;
}

h2 {
  font-weight:bolder;
}

#description {

}

p {
  max-width: 300px;
  font-size: 1.2rem;
}

/* NavBar.jsx */
.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;

}